/* NIMI & ESILEHT */

p {
    text-align: center;
    font-family: Courier;
    font-size: 25px;
    position: relative;
    top: 90px;
    margin-left: 50px;
    margin-right: 50px;
}

h1 {
    top: 90px;
   text-align: center;
   font-family: Courier;
   font-size: 100px;
   color: black;
   text-transform: uppercase;
   position: relative;

}

button {
    font-family: Courier;
    font-size: 50px;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    margin-top: 20px;
}

input {

    border: 2px solid gray;
    text-align: center;
    font-family: Courier;
    font-size: 30px;
                
}

span {
  border-right: .05em solid;
  animation: caret 1.5s steps(1) infinite;
}

@keyframes caret {
  50% {
    border-color: transparent;
  }
}

#playerName {
    position: relative;
    text-align: center;
    top: 200px;
}

#lives {
    text-align: center; 
}


/* NIGHT & DAY */
.btn {
	position: absolute;
	bottom: 50px;
	right: 50px;
	background: '#ffffff';
	background-image: linear-gradient(to bottom, #ffffff, #d1cdd1);
	font-family: Courier;
	color: #000000;
	font-size: 20px;
	padding: 10px 20px 10px 20px;
	outline: none
}

body.dark-mode {
	background: #474c4f;
	background-image: linear-gradient(to bottom, #474c4f, #000000);
	color: #ffffff;
}

body.dark-mode button {
	background: #ffffff;
	background-image: linear-gradient(to bottom, #ffffff, #d1cdd1);
	font-family: Courier;
	color: #000000;
	font-size: 20px;
	padding: 10px 20px 10px 20px;
	outline: none;
}

body.light-mode {
	background: #ffffff;
	background-image: linear-gradient(to bottom, #ffffff, #d1cdd1);
	color: #000000;
}

body.light-mode button {
	background: #474c4f;
	background-image: linear-gradient(to bottom, #474c4f, #000000);
	font-family: Courier;
	color: #ffffff;
	font-size: 20px;
	padding: 10px 20px 10px 20px;
	outline: none;
}